<app-loading *ngIf="loading"></app-loading>
<nb-layout class="main-layout-white" >
    <nb-layout-column>
        <div class="sub-container">
            <div class="header-wrapper">
                <div class="header">
                    <app-nav-bar>
                        <button nbButton ghost  class="nb-custom-button-icon icon-left">
                            <nb-icon class="toolbar-icon" icon="settings-outline"></nb-icon>
                        </button>
                        <div class="pic-wrapper">
                            <img class="pic-user" [src]="picture" alt="Imagen de perfil">
                        </div>
                        <button nbButton status="basic" ghost class="nb-custom-button-icon">
                            <nb-icon class="toolbar-icon" icon="search-outline"></nb-icon>
                        </button>
                        <button nbButton ghost  class="nb-custom-button-icon">
                            <nb-icon class="toolbar-icon" icon="bell-outline"></nb-icon>
                        </button>
                    </app-nav-bar>
                    <div class="header-content">
                        <h4 class="text-indicative">Today.</h4>
                        <h2 class="text-main-date">{{ today | date: 'dd MMMM yyyy' }}</h2>
                    </div>
                </div>
            </div>
            <main #main>
                <!-- <nb-accordion>
                    <nb-accordion-item >
                        <nb-accordion-item-header style="color: #4D4F51;">
                            <div class="custom-acordion-header today">
                                Today
                                <span style="margin-left: 15px;" class="custom-pill custom-pill-primary">
                                    1
                                </span>
                            </div>
                        </nb-accordion-item-header>
                        <nb-accordion-item-body style="margin-top: -20px;">
                            Body
                        </nb-accordion-item-body>
                    </nb-accordion-item>
                </nb-accordion> -->
                <nb-accordion *ngFor="let category of notes" style="padding-bottom: 8px;">
                    <nb-accordion-item >
                        <nb-accordion-item-header style="color: #4D4F51;">
                            <div class="custom-acordion-header" [ngClass]="category.isToday ? 'today' : ''">
                                {{ category.title }}
                                <span style="margin-left: 15px;" class="custom-pill" [ngClass]="category.isToday ? 'custom-pill-primary' : 'custom-pill-basic'">{{ category.list.length }}</span>
                            </div>
                        </nb-accordion-item-header>
                        <nb-accordion-item-body style="margin-top: -20px;">
                            <div *ngFor="let note of category.list" class="mb-1">
                                <app-note-item
                                (onSelect)="detail(note)" 
                                [value]="note.uuid" [title]="note.title" 
                                [date]="note.final_date"
                                [isToday]="category.isToday"
                                (onCheck)="taskCheck($event)" (onUncheck)="taskUnCheck($event)"></app-note-item>
                            </div>
                        </nb-accordion-item-body>
                    </nb-accordion-item>
                </nb-accordion>
            </main>
        </div>

        <button (click)="btnAction()" [ngClass]="onSelection ? 'btn-custom-danger' : 'btn-custom-primary'" class="btn-floating">
            <nb-icon [icon]="onSelection ? 'trash-outline' : 'plus-outline'"></nb-icon>
        </button>
    </nb-layout-column>
</nb-layout>