<nb-layout class="main-layout-white" >
    <nb-layout-column>
        <div class="sub-container">
            <div class="header-wrapper">
                <div class="header">
                    <app-nav-bar>
                        <button (click)="back()" nbButton ghost  class="nb-custom-button-icon icon-left">
                            <nb-icon class="toolbar-icon" icon="arrow-back-outline"></nb-icon>
                        </button>
                        
                        <button nbButton ghost  class="nb-custom-button-icon">
                            <nb-icon class="toolbar-icon" icon="more-horizontal-outline"></nb-icon>
                        </button>
                    </app-nav-bar>
                </div>
            </div>
            <div class="header-content">
                <div class="header-content">
                    <div class="title-content">
                        <h4 class="text-indicative">Task todo</h4>
                        <h2 class="text-main-date">
                            <p #titleP [(ngModel)]="title" placeholder="Title" [contenteditable]="true" (ngModelChange)="titleChange($event)" style="font-size: 1.25rem; min-width: 100%; max-width: 100%; min-height: 25px;" class="form-custom-control form-custom-note-title fullwidth" rows="auto"></p>
                            <!-- Create Actionable Plan for Product - Phase 01 -->
                        </h2>
                    </div>
                    <div class="tags">
                        <nb-tag-list>
                            <nb-tag *ngIf="!final_date" (click)="calendar()" status="success" appearance="outline" text="+ add date"></nb-tag>
                            <nb-tag status="basic" (click)="calendar()" *ngIf="final_date" appearance="outline" [text]="final_date | date: 'dd MMM, yyyy hh:mm'" ></nb-tag>
                        </nb-tag-list>
                    </div>
                    <div class="descriptions-content">
                        <h4 class="text-indicative">Descriptions</h4>
                        <h2 class="text-main-date">
                            <p #descriptionP [(ngModel)]="description" placeholder="Description" [contenteditable]="true" (ngModelChange)="descChange($event)" style="font-size: 1.25rem; min-width: 100%; max-width: 100%; min-height: 75px;" class="form-custom-control form-custom-note-title fullwidth" rows="auto"></p>
                            <!-- Create Actionable Plan for Product - Phase 01 -->
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>
