:host {
    width: 100%;
}

::ng-deep {
    .toolbar > button > .toolbar-icon {
        height: 27px !important;
        width: 27px !important;
        // color: #A4B3AE;
        color: #ADBAB5;
    }

    .toolbar > button {
        margin-top: auto;
        margin-bottom: auto;
    }

    .toolbar > button > .toolbar-icon.toolbar-icon-white {
        color: white;
    }
    
    .toolbar > .icon-left {
        margin-right: auto;
    }

    .toolbar-title {
        text-align: center;
        color: white !important;
        font-family: 'Poppings' !important;
        font-size: 1.25rem !important;
        margin-right: auto;
    }
    
    .pic-wrapper {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto 8px;
    }
    
    .pic-user {
        width: 100%;
    }
}

.toolbar {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}