@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'Poppings-Bold';
  src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Poppings-SemiBold';
  src: url(assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: 'Poppings-Medium';
  src: url(assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppings';
  src: url(assets/fonts/Poppins-Regular.ttf);
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  touch-action: manipulation;
}

body {
  font-family: 'Poppings', 'Poppings-Medium', sans-serif !important;
  user-select: none;
}

.fullwidth {
  width: 100%;
}

.form-custom-group {
  margin-bottom: 16px;
}

input[type="text"].form-custom-control,
input[type="password"].form-custom-control,
div[contentEditable="true"].form-custom-control {
  outline: 0;
  transition: border-color .25s cubic-bezier(.4,0,1,1);
  padding: 13px;
  border-radius: 16px;
  font-size: 16px;
  border: 1.67px solid #A3B2AD;
}

input[type="text"].form-custom-control:focus, 
input[type="password"].form-custom-control:focus,
div[contentEditable="true"]:focus {
  border: 1.67px solid #22B07D;
}

textarea.form-custom-control {
  outline: 0;
  transition: border-color .25s cubic-bezier(.4,0,1,1);
  padding: 13px;
  border-radius: 16px;
  font-size: 16px;
  border: 1.67px solid #A3B2AD;
}

textarea.form-custom-control:focus {
  border: 1.67px solid #22B07D;
}

[class*=btn-custom-] {
  border-radius: 16px;
  padding: 16px 13px;
  font-family: 'Poppings-SemiBold';
  border: none;
  outline: 0;
  position: relative;
  transition: .3s;;
}

[class*=btn-custom-]:active {
  outline: 0;
  animation: .3s btncustomactivate ease-in-out;
}

[class*=btn-custom-].btn-floating {
  position: fixed;
  right: 25px;
  bottom: 30px;
  padding: 20px;
}

.btn-custom-primary {
  background-color: #00B169;
  color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 177, 105, .5);
}

.btn-custom-google {
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  color: white;
  background: #4285F4;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 12px 0 #4285F480;
}

.btn-custom-google > .btn-custom-google-icon-wrapper {
  height: 28px;
  width: 28px;
  background: white;
  padding: 5px;
  margin-right: -28px;
}

.btn-custom-google > .btn-custom-google-icon-wrapper > img {
  width: 100%;
}

.btn-custom-google > .btn-custom-google-text {
  padding: 0;
  margin: 0 auto;
}

.nb-theme-default nb-layout .layout {
  background: none !important;
}

.nb-custom-button-icon {
  border-radius: 50% !important;
}

.text-indicative {
  font-family: 'Poppings';
  color: #ADBAB5 !important;
}

.expansion-indicator {
  color: #A4B2AD !important;
}

.nb-theme-default nb-accordion {
  box-shadow: none !important;
}

.custom-acordion-header {
  display: flex;
  flex: 1 100%;
  font-size: 16px;
  font-family: 'Poppings-Medium'; 
  align-items: center;
}

.nb-theme-default nb-accordion-item-header {
  border: none !important;
}

.custom-acordion-header.today {
  color: #4BBF95;
}

.custom-pill {
  font-family: 'Poppings-SemiBold';
  padding: 2px 12px;
  border-radius: 5px;
  font-size: 13px;
  //margin-left: 1rem;
  width: fit-content;
  color: #A7B5B0;
}

.custom-pill.custom-pill-basic {
  background: #EFF2F1;
  color: #AEBBB7;
}

.custom-pill.custom-pill-primary {
  color: #3FC48D;
  background: #EAF8F2;
}

.btn-custom-danger {
  background-color: #e43d4e;
  color: white;
  box-shadow: 0 4px 12px 0 rgba(228, 61, 78, .5);
}

.nb-theme-default nb-spinner.status-success {
  background: white; 
  border: none;
  box-shadow: 0 4px 12px 2px #8f9bb340;
}

@keyframes btncustomactivate {
  1% {
    transform: scale(.8);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}